@import url(https://fonts.googleapis.com/css?family=Nunito);.fade-enter-active,
.fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.fade-enter-active {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

