<template>
    <v-app>

        <v-navigation-drawer v-model="sideNav" app absolute temporary right>
            <v-list>
                <v-list-tile v-for="item in sideNavItems" :key="item.title" :to="item.link">
                    <v-list-tile-action></v-list-tile-action>
                    <v-list-tile-content>{{ item.title }}</v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar class="transparent" color="elevation-0">

            <v-btn to="/" icon large>
                <v-avatar tile>
                    <img src="images/logo.png">
                </v-avatar>
            </v-btn>
            <v-toolbar-title>
                <router-link to="/" tag="span" style="cursor: pointer">Battle Ship</router-link>
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn class="hidden-sm-and-down" v-for="item in sideNavItems" :to="item.link" :key="item.title" flat>{{ item.title }}</v-btn>

            <v-toolbar-side-icon @click.native.stop="sideNav = !sideNav" class="hidden-md-and-up"></v-toolbar-side-icon>

        </v-toolbar>

        <router-view></router-view>

    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                sideNav: null,
                sideNavItems: [
                    {title: 'Startseite', link: '/'},
                    {title: 'Dokumentation', link: '/documentation'},
                    {title: 'Spielen', link: '/play'},
                ]
            }
        },
    }
</script>