<template>
    <div>
        <v-container>
            <v-layout>
                <v-expansion-panel popout>
                    <v-expansion-panel-content
                            v-for="item in documentation"
                            :key="item.title"
                    >
                        <div slot="header">{{ item.title }}</div>
                        <v-card>
                            <v-card-text v-for="line in item.content" :key="line" class="grey lighten-3">{{ line }}
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                documentation: [
                    {
                        title: 'Spielregeln',
                        content: ['1. Die Schiffe dürfen nicht über Eck gebaut sein oder Ausbuchtungen besitzen',
                            '2. Die Schiffe dürfen nicht diagonal aufgestellt werden',
                            '3.	Ein Schiff gilt als versenkt, wenn alle Felder des Schiffes getroffen wurden']
                    },
                    {
                        title: 'Spielverlauf',
                        content: ['1. Es wird ausgelost, wer anfängt',
                            '2. Der Schießende gibt eine Koordinate an, auf die er feuert (Beispiel C3)',
                            '3. Der Schießende bekommt eine Rückmeldung mit Wasser, Treffer und/oder versenkt',
                            '4. Der weitere Fortgang folgt unterschiedlichen Regeln (siehe Varianten)',
                            '5. Wer zuerst alle Schiffe des Gegners versenkt hat, ist der Sieger'
                        ]
                    },
                    {
                        title: 'Varianten',
                        content: ['- 10x10er Feld oder 12x12er Feld',
                            '- Man schießt im Salvenmodus, und zwar so viele Schüsse, wie das größte noch vorhandene Schiff Kästchen hat (Beispiel: ist also das Schlachtschiff noch da, darf man fünf Schüsse hintereinander abgeben, besitzt man nur noch Kreuzer, dann eben nur vier)',
                            '- Evtl. Einbau von 3x Seeminen (1 Kästchen) und einer Küstenbatterie (drei Kästchen am Rand, die aber auch über Eck liegen dürfen). Hierbei muss jedoch der Angreifer auswählen, mit welchem Schiff er feuert. Trifft er eine Mine, fliegt auch sein Schiff mit in die Luft. Die Küstenbatterie hat zwar 3 Kästchen, aber fliegt bei einem Treffer vollständig in die Luft',
                            '- Bestimmte Schiffe können bestimmte Waffen mit einer bestimmten Anzahl an Schüssen nutzen. Z.B. ein Schiff kann 5 Felder (in Form der 5 auf dem Würfel) abfeuern. Voraussetzung dafür ist, dass das eigene Schiff mit dieser Waffe noch „am Leben ist“',
                            '- Die Anzahl der einzelnen Schiffe kann verändert werden'
                        ]
                    },
                    {
                        title: 'Strategien',
                        content: ['- Einzelfeuer (Feuer auf die Mitte des Spielbretts oder wechsle den Bereich, wenn man im gleichen Abschnitt/Bereich zwei Fehlschüsse hatte)',
                            '- Einsatz von speziellen Waffen',
                            '- Ziel-Feld immer völlig zufällig bestimmen',
                            '- Ziel-Feld nach Mustern bestimmen („Schachbrettmuster“, „Diagonalen“ oder im Falle, dass die kleinsten Schiffe zuerst versenkt wurden, werden die Muster wieder großmaschiger angelegt)',
                            '- Ziel-Feld nach einem Treffer (benachbarte Felder befeuern bis Schiff zerstört ist, entweder in einer Reihenfolge (z.B. von links nach rechts und oben nach unten) oder dabei immer ein Feld leer lassen oder benachbarte Felder befeuern, bis Ausrichtung des Schiffes bekannt ist und dann neues Schiff lokalisieren, bis alle Schiffe gefunden wurden und erst dann die Schiffe versenkt werden (Voraussetzung: Salvenmodus aus und spezielle Waffen aus))',
                            '- „Fehlschüsse“ um ein versenktes Schiff eintragen',
                            '- Eigene Schiffe völlig zufällig auf dem Schlachtfeld platzieren',
                            '- Schiffe nicht an den Rand stellen, da nach einem eventuellen Treffer die Schussrichtungen eingeschränkt sind; mit Ausnahme vom U-Boot'

                        ]
                    },
                    {
                        title: 'Einfaches Spiel',
                        content: ['- 1x5, 1x4, 1x3, 1x2',
                            '- 10x10 Feld',
                            '- Immer bis Wasser getroffen',
                            '- Schiffe dürfen aneinanderstoßen'
                        ]
                    },
                    {
                        title: 'Advanced-Mode',
                        content: ['- Schiffe verwalten (1x Schlachtschiff, 1-2x Kreuzer, 1-3x Zerstörer, 1-4x U-Boote)',
                            '- Feldgröße bestimmen (10x10 oder 12x12 Feld',
                            '- Schiffe dürfen aneinanderstoßen/aneinanderlegen (Ja/Nein)',
                            '- Modus (Salvenmodus, immer abwechselnd oder immer bis Wasser getroffen wird)',
                            '- Seeminen und Küstenbatterien erlauben (Ja/Nein)',
                            '- Spezialwaffen erlauben (Ja/Nein)'
                        ]
                    },
                    {
                        title: 'Projektantrag',
                        content: ['In dem Unterrichtsfach LF6 – Entwickeln und Bereitstellen von Anwendungssystemen arbeite ich an einem Projekt. Ziel ist es, das Spiel „Schiffe versenken“ als Webapplikation zu entwickeln. Der Benutzer soll sich auf einer Webseite anmelden können und über ein Interface die Spieleinstellungen bestimmen. Dabei kann er zwischen drei Schwierigkeitsgraden auswählen. Er spielt gegen einen Computer mit einer künstlichen Intelligenz (KI). Die Logik der KI soll die Kernaufgabe in diesem Projekt werden und den größten Zeitaufwand in Anspruch nehmen. Der Computer soll also seine Spielzüge dem Schwierigkeitsgrad anpassen. Weitere Einstellungsmöglichkeiten möchte ich je nach Zeitmöglichkeit einbauen. Dazu gehört z.B. das Bestimmen von der Anzahl an Schiffen, der Feldgröße (10x10 oder 12x12), der Modi (Salvenmodus, bei dem immer abwechselnd geschossen wird, oder ob immer solange geschossen wird, bis das Wasser getroffen wurde). Zudem lassen sich Einstellungen einbauen, die festlegen, ob Schiffe aneinanderstoßen/liegen dürfen, ob Seeminen und Küstenbatterien erlaubt sind, die bei einem Treffer zur Explosion eines Schiffes führen und ob weitere Spezialwaffen von Schiffen erlaubt sein sollen, die mehrere Felder mit einem Schuss befeuern. In dem Spiel gibt es insgesamt drei Regeln. Regel Nummer eins ist, dass Schiffe nicht über Eck gebaut werden dürfen oder Ausbuchtungen besitzen. Außerdem dürfen sie nicht diagonal aufgestellt werden. Und zuletzt gilt ein Schiff als versenkt, wenn alle Felder des Schiffes getroffen werden. Nachdem der Spieler seine eigenen Schiffe in seiner Wunschformation platziert hat, beginnt der Spielverlauf mit einer Auslosung, welcher Spieler beginnen darf zu schießen. Der Schießende gibt eine Koordinate an, indem er auf ein Feld klickt, auf das er feuern möchte (Beispiel: C3). Der Schießende bekommt eine Rückmeldung mit „Wasser getroffen“, „Treffer“ und/oder „Versenkt“. Der weitere Fortgang richtet sich nach den Einstellungen. Wer zuerst alle Schiffe des Gegners versenkt hat, ist der Sieger. In Hinblick auf die KI gibt es verschiedene Strategien, die nach dem jeweiligen Schwierigkeitsgrad eingesetzt werden. Die wohl einfachste Art zu schießen ist das Einzelfeuer. Diese Schussvariante kann nun völlig verschiedene Muster enthalten. Entweder wird das Ziel-Feld völlig zufällig bestimmt, die Schießrichtung eher zur Mitte orientiert oder sie findet im Wechsel in verschiedene Bereiche des Spielfelds statt. Zusätzlich kann das Ziel-Feld nach einem Muster bestimmt werden, indem z.B. nach einem „Schachbrettmuster“ oder in „Diagonalen“ geschossen wird. Ein höherer Schwierigkeitsgrad kann im Falle, dass die kleinsten Schiffe zuerst versenkt wurden, die Muster wieder großmaschiger anlegen, um die Trefferwahrscheinlichkeit zu erhöhen. Schließlich kann das Ziel-Feld auch nach einem Treffer ausgewählt werden. Im Zuge dessen werden benachbarte Felder solange befeuert, bis das Schiff zerstört ist. Dabei kann die Reihenfolge noch verändert werden, so dass immer ein Feld dazwischen leer gelassen wird, da somit Fehlschüsse verhindert werden können. Im Gegenzug können die benachbarten Felder beschossen werden, bis die Ausrichtung des Schiffes bekannt ist und dann ein neues Schiff lokalisiert werden, bis alle Schiffe gefunden wurden und erst im Anschluss die Schiffe versenkt werden. Dies setzt allerdings voraus, dass der Salvenmodus ausgeschaltet ist, da sich sonst ein Nachteil für den Computer ergibt. Falls Schiffe aufgrund der Einstellungen nicht aneinander liegen dürfen, können „Fehlschüsse“ um ein versenktes Schiff eingetragen werden, da sich dort kein Schiff mehr befinden wird. Abschließend können die Schiffe entweder völlig zufällig auf dem Schlachtfeld platziert werden, oder zum Beispiel nicht an den Rand des Spielfeldes platziert werden, da nach einem eventuellen Treffer die Schussrichtungen eingeschränkt sind (mit Ausnahme vom U-Bootes, welches nur aus zwei Feldern besteht). Das Spiel möchte ich in Zusammenspiel mit Laravel und Vue programmieren. Für das Frontend möchte ich das Framework Vuetify nutzen. Ich habe mich genau für diese Programmiersprachen und Frameworks entschieden, da ich meine Fähigkeiten in diesen Sprachen verbessern möchte und mich insgesamt auf die Weckentwickler-Schiene spezialisieren möchte. Zudem habe ich in meinem Betrieb auch nur mit Programmiersprachen in der Webentwicklung zu tun.']
                    },
                ]
            }
        },
    }
</script>