<template>
    <div>

        <v-responsive :aspect-ratio="16/5" class="gradient py-3">
            <v-container fill-height>
                <v-layout align-center justify-center wrap>
                    <v-img class="ma-5" src="images/logo_big.png" width="200" max-width="200"></v-img>
                    <div :class="{'text-xs-center': $vuetify.breakpoint.mdAndDown}" max-width="700px">
                        <span class="display-1">Schiffe versenken</span>
                        <p type="clear"></p>
                        <span class="subheading">Kleines Schulprojekt</span>
                        <p type="clear"></p>
                        <v-btn outline class="ma-0" color="secondary">Jetzt Spielen</v-btn>
                    </div>
                </v-layout>
            </v-container>
        </v-responsive>

        <v-layout class="secondary white--text text-xs-center" align-center justify-center wrap>
            <v-img class="ma-3" src="images/geld_zurueck_garantie.png" width="100" max-width="100" contain></v-img>
            <span class="subheading ma-3">Mehr Informationen zu den Spielregeln und der Programmierung finden Sie</span>
            <v-btn color="primary">Hier</v-btn>
        </v-layout>

        <v-container>
            <v-layout class="text-xs-center" align-center justify-center column>
                <span class="display-1 my-5">Test1</span>
                <span class="subheading mb-2">Test2</span>
                <span class="subheading my-2"><b>Test3</b></span>
                <span class="subheading mt-2">Test4</span>
                <v-layout class="secondary white--text text-xs-center my-5" align-center justify-center style="width: 300px; height: 300px">Tutorial-Video</v-layout>
            </v-layout>
        </v-container>

        <v-layout class="gradient">
            test
        </v-layout>

    </div>
</template>
<style>
    .gradient {
        background: linear-gradient(to bottom right, #a8e063, #56ab2f);
    }
</style>
<script>
    export default {}
</script>